<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-heading">PD Quiz</div>
        <div class="menu-toggle" id="mobile-nav">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
        </div>
        <ul class="nav-menu">
            <li><a href="/signup" class="nav-links">Teacher</a></li>
            <li><a href="#" class="nav-links">Contact</a></li>
            <li class="abc">
                <a href="/logout" class="nav-links">Logout</a>
            </li>
        </ul>
    </nav>
	<h1>Your Score is <%= score %>/<%= total %></h1>
    <% for (let i = 0;i<total; i++) { %>
        <div>
        <h2>Question No.<%=i%></h2>
        <h3>correct ans:<%=correct[i] %> </h3>
        <h3>Your Answer:<%= answers[i+1] %> </h3>
    </div>
        <% } %> 
</body>
</html>